@import "reset";
@import "fonts";
@import "./views/booking.scss";
@import "./views/synopsis.scss";
@import "./views/box.scss";
@import "./views/imgs.scss";
/*********** BODY **************/

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#1e1e1e;
  overflow:hidden;
}

a {
  color: #00B7FF;
}
.clearfix:after{
	content: " ";
	display:block;
	height:0;
	clear:both;
}

/*ROOM*/
#room, #syno{
	display:none;
}
.continue{
	display:none !important;
}
.fullswitch{
	display: none;
	position:fixed;
	height:100%;
	width:0%;
	left:0px;
	top:0px;
	z-index:100;
	animation: trans-C 3s ease 0s 1;
	.first{
		position: absolute;
		z-index:2;
		background-color:white;
		height:100%;
		width:0%;
		display:block;
		animation: trans-A 1s ease 1s 1;
	}
	.second{
		position: absolute;
		z-index:1;
		background-color:lightgrey;
		height:100%;
		width:0%;
		display:block;
		animation: trans-B 1s ease 1.2s 1;
	}
}
@keyframes trans-C {
    0%   {width:100%;}
    100%  {width:100%;}
}
@keyframes trans-A {
    0%   {width:0%;left:0%;}
    33%  {width:100%;left:0%;}
    100%  {width:0%;left:100%;}
}
@keyframes trans-B {
    0%   {width:0%;left:0%;}
    43%  {width:100%;left:0%;}
    100%  {width:0%;left:100%;}
}
.bg-trailer{
	position:fixed;
	top:0;
	right:0;
	left:0;
	bottom:0;
	width:100%;
 	object-fit:cover;
 	filter: blur(20px);
 	-webkit-filter: blur(20px);

 	height:100vh;
	/*margin-top:-40vh;*/
}
.trailer-container{
	position:fixed;

	/*overflow:hidden;*/

	top:50%;
	transform: translateY(-50%);
	-webkit-transform : translateY(-50%);

	left:50%;
	margin-left:-360px;

	width:720px;
	height:405px;
	z-index:2;
	box-shadow: 0px 0px 10px 0px black;
}
.fg-trailer{
	width:100%;
	object-fit:cover;

	height:100%;
	/*margin-top:-9.8%;;*/
}
.trailer-container .progress{
	position: absolute;
	bottom: 0px;
	left: 0px;
	display: block;
	height: 6px;
	width: 0%;
	background: #e5b13a;
	z-index: 3;
	transition:all 0.2s linear;
}
.title-container{
	position:absolute;
	width:100%;
	top:40%;
	transform: translateY(-50%);
	-webkit-transform : translateY(-50%);
	z-index:3;
	height:50px;
}
.title-div{
	text-align:center;
	width:40%;
	position:relative;
	float:left;
}
.starwars .title{font-size:2em;}
.title{
	color:#fff;
	width:100%;
	opacity: 1;
	line-height:50px;
	font-family: "brandon-black";
	vertical-align: middle;
	font-size:3em;
	letter-spacing: 3px;
	animation: opac 2s ease 0s 1;
}
@keyframes opac {
    0%   {opacity: 0}
    64%  {opacity: 0}
    66%  {opacity: 1}
    100%  {opacity: 1}
}
.subtitle{
	color: #fff;
	width:100%;
	text-align:center;
	top:48%;
	font-size:1.8em;
	font-family: "brandon-light";
	transform: translateY(-35%);
	-webkit-transform : translateY(-35%);
	transform-style: flat;
	z-index:3;
	position:absolute;
	animation: downopac 3s ease 0s 1;
}
@keyframes downopac {
    0%   {opacity: 0;transform: translateY(-100%);-webkit-transform : translateY(-100%);}
    66%  {opacity: 0;transform: translateY(-100%);-webkit-transform : translateY(-100%);}
    100%  {opacity: 1;transform: translateY(-35%);-webkit-transform : translateY(-35%);}
}
svg{
	fill:#fff;
	height:50px;
}

.icons{
	opacity:0.4;
	cursor:pointer;
	transition:all 0.2s ease-in;
}
.icons:hover{
	opacity:1;
}
.cross{
	position:absolute;
	top:10px;
	right:10px;
	z-index:3;
	display:none;
}
.cross svg{
	height:25px;
}

.arrow-left, .arrow-right{
	width:30%;
	float:left;
}
.arrow-left{
	text-align:right;
	animation: icon-opac 3s ease 0s 1;
}
.arrow-right{
	text-align:left;
	animation: icon-opac 3s ease 0s 1;
}

@keyframes icon-opac {
    0%   {opacity: 0;}
    66%   {opacity: 0;}
    100%  {opacity: 0.4;}
}


.arrow-right svg{
	-webkit-transform: scaleX(-1); /* Webkit */
  	transform: scaleX(-1);
	float:left;
}
.arrow-left:after, .arrow-right:before{
	width:0px;
	display: block;
	overflow: hidden;
	font-family: "brandon-regular";
	font-size:1.3em;
	color:white;
	opacity:0;
	padding-top:10px;
	transition-property: all;
	transition-duration: 0.5s;
}
.arrow-left:after{
	content:"précédent";
	float:right;
	text-align: right !important;
	margin-right:50px;
	animation: icon-left 3s ease 0s 1;
}
.arrow-right:before{
	content:"suivant";
	float:left;
	margin-left:50px;
	animation: icon-right 3s ease 0s 1;
}
@keyframes icon-left {
    0%   {margin-right:0px;}
    66%   {margin-right:0px;}
    100%  {margin-right:50px;}
}
@keyframes icon-right {
    0%   {margin-left:0px;}
    66%   {margin-left:0px;}
    100%  {margin-left:50px;}
}
.arrow-left:hover:after, .arrow-right:hover:before{
	width:100px;
	opacity:1;
}

.cta-container{
	position:absolute;
	width:100%;
	top:60%;
	text-align: center;
	transform: translateY(-20%);
	-webkit-transform : translateY(-20%);
	z-index:3;
}
.cta{
	display: inline-block;
	background-size:contain;
	height:18px;
	width:80px;
	background-repeat: no-repeat;
	background-position: center;
	cursor:pointer;
	transition:all 0.2s ease-in;
	opacity: 0.4;
	animation: opaci 3s ease 0s 1;
	&:hover{
		opacity: 1;
		&:after{
			opacity: 1;
		}
	}
	&:after{
		font-size: 1em;
		text-transform: uppercase;
		color:white;
		font-family: "brandon-bold";
		display: block;
		transition:all 0.2s ease-in;
		opacity: 0;
		margin-top:30px;
		text-align: center;
	}
	&#synopsis{
		background-image:url(../img/icn_infos.svg);
		&:after{
			content:"synopsis";
		}
	}
	&#trailer{
		background-image:url(../img/icn_trailer.svg);
		&:after{
			content:"trailer";
		}
	}
	&#booking{
		background-image:url(../img/icn_billet.svg);
		&:after{
			content:"reserver";
		}
	}
}
@keyframes opaci {
    0%   {opacity:0;width:0px}
    66%   {opacity:0;width:0px}
    100%  {opacity:0.4;width:80px;}
}
/*.cta:last-child{
	margin-left:2%;
	margin-right:25%;
}
.cta:first-child{
	margin-right:2%;
	margin-left:25%;
}*/

@media (min-width: 1100px) and (orientation: landscape) {
	.trailer-container{
		margin-left:-32.5vw;
		width:67vw;
		height:37.6875vw;
	}
}


/*********** ANIMATIONS **************/
/**** Carré blanc pour la page de titrage ****/
/*IMG*/
.switcher{
	position: absolute;
	display: block;
	left:0%;
	height:100%;
	background-color:white;
	animation: switcher 1s ease 1s 1;
}
@keyframes switcher {
    0%   {width:0%;left:0%;}
    33%  {width:100%;left:0%;}
    100%  {width:0%;left:100%;}
}