.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both; }

#seats {
  background-color: gray; }

.seat {
  display: block;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  margin: 15px;
  float: left; }

.seat:hover {
  cursor: pointer;
  background-color: #2d8bca; }

.seat.clicked {
  background-color: #389adc; }
