@charset "UTF-8";
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both; }

/*classe ajouté à #all*/
.booking-bloc {
  position: absolute;
  display: block;
  width: 48%;
  left: 2%;
  height: 100%;
  top: 50%;
  transform: translateY(-35%);
  -webkit-transform: translateY(-35%); }

.booking {
  display: none; }

.booking {
  position: absolute;
  height: 100%;
  width: 100%; }
  .booking .choice {
    background-color: white;
    max-width: 60%;
    width: 50%;
    height: 100%;
    padding: 20px;
    overflow: hidden;
    display: block;
    float: left; }
    .booking .choice .back {
      cursor: pointer;
      color: black;
      font-family: "brandon-bold";
      margin: 0 0 20px 0; }
      .booking .choice .back .left-arrow {
        height: 20px;
        display: inline-block;
        float: left;
        width: 15px;
        background-image: url(../img/arrow.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 10px 0 0; }
    .booking .choice .seances {
      padding: 0 30px; }
      .booking .choice .seances .titre {
        margin-bottom: 20px; }
        .booking .choice .seances .titre h1 {
          font-size: 1.5em;
          text-transform: uppercase;
          font-family: "lato-light";
          display: inline-block; }
        .booking .choice .seances .titre .separator {
          border-top: 1px solid black;
          width: 75%;
          height: 6px;
          margin-left: 10px;
          display: inline-block; }
      .booking .choice .seances .listes {
        width: 200%;
        display: block;
        margin-left: -50%;
        padding: 10px 0; }
        .booking .choice .seances .listes li {
          display: inline-block;
          width: 100px;
          cursor: pointer;
          margin: 0 10px;
          text-align: center; }
          .booking .choice .seances .listes li h2.date {
            font-family: "brandon-medium"; }
          .booking .choice .seances .listes li p {
            font-family: "lato-regular";
            font-size: 0.8em; }
            .booking .choice .seances .listes li p.complet {
              color: #c02729; }
          .booking .choice .seances .listes li.selected h2.date {
            color: #ffc600; }
      .booking .choice .seances .zoneCinema {
        display: block;
        width: 120%;
        margin-left: -10%; }
  .booking .resume {
    width: 45%;
    height: 100%;
    display: block;
    float: left; }
    .booking .resume .fiche {
      background-color: white;
      margin: 50px; }
      .booking .resume .fiche .recap {
        padding: 50px;
        text-align: center; }
        .booking .resume .fiche .recap h1 {
          font-size: 2em;
          font-family: "lato-light"; }
        .booking .resume .fiche .recap h2 {
          font-size: 1.5em;
          font-family: "brandon-black"; }
        .booking .resume .fiche .recap .separator {
          border-top: 1px solid black;
          width: 100%;
          margin-top: 20px;
          height: 40px; }
        .booking .resume .fiche .recap .desc {
          text-align: left; }
          .booking .resume .fiche .recap .desc li {
            display: block;
            height: 50px;
            width: 100%;
            font-size: 1.3em;
            font-family: "lato-regular"; }
            .booking .resume .fiche .recap .desc li .qt {
              float: left; }
            .booking .resume .fiche .recap .desc li .prix {
              float: right; }
        .booking .resume .fiche .recap .total {
          text-align: right;
          font-size: 3.5em;
          font-family: "lato-light"; }
          .booking .resume .fiche .recap .total:after {
            content: "€";
            font-size: 0.6em; }
      .booking .resume .fiche .cancel {
        height: 50px;
        width: 100%;
        border: none;
        background-color: #eee;
        color: #bfbfbf;
        text-transform: uppercase;
        font-family: "brandon-regular";
        cursor: pointer; }
        .booking .resume .fiche .cancel:hover {
          background-color: #d9d9d9;
          color: white; }
      .booking .resume .fiche .valid {
        height: 50px;
        width: 100%;
        border: none;
        background-color: #ffc600;
        color: white;
        text-transform: uppercase;
        font-family: "brandon-bold";
        letter-spacing: 1px;
        cursor: pointer; }
        .booking .resume .fiche .valid:hover {
          background-color: #efbc0d;
          color: white; }
