@charset "UTF-8";
/*********** RESET **************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, li {
  outline-color: #fff; }

input, select {
  outline: none;
  /*apperance: none;*/
  border: none;
  padding: 0; }

input[type="submit"] {
  cursor: pointer; }

/*********** FONTS **************/
@font-face {
  font-family: 'brandon-regular';
  src: url("../fonts/Brandon_reg.otf") format("truetype"); }

@font-face {
  font-family: 'brandon-light';
  src: url("../fonts/Brandon_light.otf") format("truetype"); }

@font-face {
  font-family: 'brandon-medium';
  src: url("../fonts/Brandon_med.otf") format("truetype"); }

@font-face {
  font-family: 'brandon-bold';
  src: url("../fonts/Brandon_bld.otf") format("truetype"); }

@font-face {
  font-family: 'brandon-black';
  src: url("../fonts/Brandon_blk.otf") format("truetype"); }

@font-face {
  font-family: 'lato-regular';
  src: url("../fonts/Lato-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'lato-light';
  src: url("../fonts/Lato-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'lato-medium';
  src: url("../fonts/Lato-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'lato-bold';
  src: url("../fonts/Lato-Bold.ttf") format("truetype"); }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both; }

.booking {
  margin-top: -50px;
  margin-left: -50px;
  position: absolute;
  height: 100%;
  width: 100%; }
  .booking .choice {
    background-color: white;
    max-width: 60%;
    width: 50%;
    height: 100%;
    padding: 20px;
    overflow: hidden;
    display: block;
    float: left; }
    .booking .choice .back {
      cursor: pointer;
      color: black;
      font-family: "brandon-bold";
      margin: 0 0 20px 0; }
      .booking .choice .back .left-arrow {
        height: 20px;
        display: inline-block;
        float: left;
        width: 15px;
        background-image: url(../img/arrow.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 10px 0 0; }
    .booking .choice .seances {
      padding: 0 30px; }
      .booking .choice .seances .titre {
        margin-bottom: 20px; }
        .booking .choice .seances .titre h1 {
          font-size: 1.5em;
          text-transform: uppercase;
          font-family: "lato-light";
          display: inline-block; }
        .booking .choice .seances .titre .separator {
          border-top: 1px solid black;
          width: 75%;
          height: 6px;
          margin-left: 10px;
          display: inline-block; }
      .booking .choice .seances .listes {
        width: 200%;
        display: block;
        margin-left: -50%;
        padding: 10px 0; }
        .booking .choice .seances .listes li {
          display: inline-block;
          width: 100px;
          cursor: pointer;
          margin: 0 10px;
          text-align: center; }
          .booking .choice .seances .listes li h2.date {
            font-family: "brandon-medium"; }
          .booking .choice .seances .listes li p {
            font-family: "lato-regular";
            font-size: 0.8em; }
            .booking .choice .seances .listes li p.complet {
              color: #c02729; }
          .booking .choice .seances .listes li.selected h2.date {
            color: #ffc600; }
      .booking .choice .seances .zoneCinema {
        display: block;
        width: 120%;
        margin-left: -10%; }
  .booking .resume {
    width: 45%;
    height: 100%;
    display: block;
    float: left; }
    .booking .resume .fiche {
      background-color: white;
      margin: 50px; }
      .booking .resume .fiche .recap {
        padding: 50px;
        text-align: center; }
        .booking .resume .fiche .recap h1 {
          font-size: 2em;
          font-family: "lato-light"; }
        .booking .resume .fiche .recap h2 {
          font-size: 1.5em;
          font-family: "brandon-black"; }
        .booking .resume .fiche .recap .separator {
          border-top: 1px solid black;
          width: 100%;
          margin-top: 20px;
          height: 40px; }
        .booking .resume .fiche .recap .desc {
          text-align: left; }
          .booking .resume .fiche .recap .desc li {
            display: block;
            height: 50px;
            width: 100%;
            font-size: 1.3em;
            font-family: "lato-regular"; }
            .booking .resume .fiche .recap .desc li .qt {
              float: left; }
            .booking .resume .fiche .recap .desc li .prix {
              float: right; }
        .booking .resume .fiche .recap .total {
          text-align: right;
          font-size: 3.5em;
          font-family: "lato-light"; }
          .booking .resume .fiche .recap .total:after {
            content: "€";
            font-size: 0.6em; }
      .booking .resume .fiche .cancel {
        height: 50px;
        width: 100%;
        border: none;
        background-color: #eee;
        color: #bfbfbf;
        text-transform: uppercase;
        font-family: "brandon-regular";
        cursor: pointer; }
        .booking .resume .fiche .cancel:hover {
          background-color: #d9d9d9;
          color: white; }
      .booking .resume .fiche .valid {
        height: 50px;
        width: 100%;
        border: none;
        background-color: #ffc600;
        color: white;
        text-transform: uppercase;
        font-family: "brandon-bold";
        letter-spacing: 1px;
        cursor: pointer; }
        .booking .resume .fiche .valid:hover {
          background-color: #efbc0d;
          color: white; }

/* SYNOPSIS */
#syno {
  background-color: #fff;
  height: 100vh;
  width: 60vw;
  position: fixed;
  z-index: 5;
  right: 0;
  top: 0; }
  #syno .content-container {
    display: block;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 20px 20px 20px 0px;
    padding: 30px;
    background-color: #ededed; }
    #syno .content-container .syno-nav {
      margin-top: 30px;
      width: 100%;
      font-family: "lato-regular"; }
    #syno .content-container .syno-title {
      box-shadow: -8px 8px 0px 0px #ededed;
      background-color: #fff;
      padding: 10px 20px 10px 20px;
      color: #e8ba5b;
      font-family: "lato-bold";
      line-height: 50px;
      vertical-align: middle;
      font-size: 3em;
      position: absolute;
      top: 10%;
      left: -10%; }
    #syno .content-container .syno-real {
      margin-top: 160px;
      font-family: "lato-bold";
      font-size: 0.9em; }
  #syno svg {
    fill: #1e1e1e; }
  #syno .content {
    margin-top: 47px;
    font-family: "brandon-regular";
    font-size: 1em; }
  #syno .cta-container {
    width: 100%;
    display: block;
    position: relative;
    margin-top: 30px;
    -webkit-transform: none;
    transform: none; }
    #syno .cta-container .cta {
      display: inline-block;
      width: 200px;
      margin-left: 4%;
      margin-right: 4%;
      margin-bottom: 10px;
      height: 35px;
      position: relative;
      padding: 1%;
      box-sizing: border-box;
      background-image: none;
      background-color: #dcdcdc;
      cursor: pointer;
      transition: all 0.2s ease-in;
      color: #838383;
      opacity: 1;
      border: 1px solid #ccc;
      animation: none;
      text-transform: uppercase; }
      #syno .cta-container .cta:after {
        display: none; }
      #syno .cta-container .cta:hover {
        opacity: 1 !important;
        background-color: #838383 !important; }
    #syno .cta-container .cta:hover {
      background-color: pink;
      color: #fff; }

.nav {
  display: inline-block;
  color: #a2a2a2;
  border-bottom: 1px solid #a2a2a2;
  padding: 1%;
  cursor: pointer;
  transition: all 0.2s ease-in;
  box-sizing: border-box;
  width: 31.33333%;
  text-align: center; }
  .nav:first-child {
    margin-right: 2%; }
  .nav:last-child {
    margin-left: 2%; }
  .nav.clicked, .nav:hover {
    color: #1e1e1e;
    border-bottom-color: #1e1e1e; }

/*POP BOX*/
.square {
  z-index: 5;
  position: absolute; }

.square::after {
  content: ' ';
  width: 0;
  height: 0;
  box-sizing: border-box;
  position: absolute;
  top: -50%;
  left: 22.15%;
  z-index: 4; }

.square .losange {
  width: 100%;
  height: 100%;
  border: 2px solid #ededed;
  transform: translate(-50%, -50%) rotate(45deg) scale(1);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1); }

.square.big::after {
  border-top: 70px solid #ededed;
  border-left: 70px solid transparent; }

.square.big {
  height: 140px;
  width: 140px; }

.square.medium::after {
  border-top: 50px solid #ededed;
  border-left: 50px solid transparent; }

.square.medium {
  height: 100px;
  width: 100px; }

.square.small::after {
  display: none; }

.square.small {
  height: 65px;
  width: 65px; }

.square.medium .title, .square.small .title {
  font-size: 1em;
  top: -82%; }

.square .title {
  box-shadow: -3px 3px 0px 0px #ededed;
  background-color: #fff;
  padding: 5px 8px 5px 8px;
  color: #e8ba5b;
  line-height: 20px;
  font-size: 1.5em;
  vertical-align: middle;
  min-width: 80px;
  width: auto;
  white-space: nowrap;
  text-align: left;
  position: absolute;
  z-index: 6;
  top: -80%;
  transform: translate(5%, 50%);
  -webkit-transform: translate(5%, 50%); }

.square .desc {
  background-color: #EDEDED;
  padding: 25px;
  height: 80px;
  min-width: 300px;
  position: relative;
  top: -159%;
  box-sizing: border-box;
  z-index: 5;
  left: 72%;
  font-size: 12px; }

.square.medium .desc {
  height: 56px;
  padding: 15px; }

.square.small .desc {
  display: none; }

.flip {
  transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1); }

.flip .title {
  transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  top: -65%; }

.flip .desc {
  transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  top: -159%;
  left: 71%; }

/*img*/
.img-left {
  z-index: 2;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 90vh;
  transform: translateX(-30%) scale(-1, 1);
  -webkit-transform: translateX(-30%) scale(-1, 1);
  animation: appa-left 1.5s ease 0s 1;
  /*pour pouvoir click à travers l'img*/
  pointer-events: none; }

#rangoImg {
  left: 12% !important;
  height: 110vh;
  bottom: -20vh; }

#jackImg {
  left: 90% !important;
  height: 120vh;
  bottom: -10vh; }

#coupleImg {
  left: -2% !important;
  transform: translateX(-10%) scale(1, 1);
  -webkit-transform: translateX(-10%) scale(1, 1);
  animation: appa-left-bis 1.5s ease 0s 1 !important; }

#kyloImg {
  left: 95% !important; }

#furiosa {
  left: -2% !important; }

#madmax {
  right: -2% !important; }

.img-right {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 100%;
  height: 90vh;
  transform: translateX(-70%) scale(-1, 1);
  -webkit-transform: translateX(-70%) scale(-1, 1);
  /*pour pouvoir click à travers l'img*/
  pointer-events: none;
  animation: appa-right 1.5s ease 0s 1; }

@keyframes appa-left {
  0% {
    transform: translateX(-100%) scale(-1, 1);
    -webkit-transform: translateX(-100%) scale(-1, 1); }
  100% {
    transform: translateX(-30%) scale(-1, 1);
    -webkit-transform: translateX(-30%) scale(-1, 1); } }

@keyframes appa-left-bis {
  0% {
    transform: translateX(-100%) scale(1, 1);
    -webkit-transform: translateX(-100%) scale(1, 1); }
  100% {
    transform: translateX(-10%) scale(1, 1);
    -webkit-transform: translateX(-10%) scale(1, 1); } }

@keyframes appa-right {
  0% {
    transform: translateX(0%) scale(-1, 1);
    -webkit-transform: translateX(0%) scale(-1, 1); }
  100% {
    transform: translateX(-70%) scale(-1, 1);
    -webkit-transform: translateX(-70%) scale(-1, 1); } }

/*correctif IMG*/
@media (max-width: 1000px) {
  .start-img {
    display: none; } }

@media (max-width: 1200px) and (min-height: 800px) {
  #coupleImg, #kyloImg {
    display: none; } }

/*********** BODY **************/
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #1e1e1e;
  overflow: hidden; }

a {
  color: #00B7FF; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both; }

/*ROOM*/
#room, #syno {
  display: none; }

.continue {
  display: none !important; }

.fullswitch {
  display: none;
  position: fixed;
  height: 100%;
  width: 0%;
  left: 0px;
  top: 0px;
  z-index: 100;
  animation: trans-C 3s ease 0s 1; }
  .fullswitch .first {
    position: absolute;
    z-index: 2;
    background-color: white;
    height: 100%;
    width: 0%;
    display: block;
    animation: trans-A 1s ease 1s 1; }
  .fullswitch .second {
    position: absolute;
    z-index: 1;
    background-color: lightgrey;
    height: 100%;
    width: 0%;
    display: block;
    animation: trans-B 1s ease 1.2s 1; }

@keyframes trans-C {
  0% {
    width: 100%; }
  100% {
    width: 100%; } }

@keyframes trans-A {
  0% {
    width: 0%;
    left: 0%; }
  33% {
    width: 100%;
    left: 0%; }
  100% {
    width: 0%;
    left: 100%; } }

@keyframes trans-B {
  0% {
    width: 0%;
    left: 0%; }
  43% {
    width: 100%;
    left: 0%; }
  100% {
    width: 0%;
    left: 100%; } }

.bg-trailer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  object-fit: cover;
  filter: blur(20px);
  -webkit-filter: blur(20px);
  height: 100vh;
  /*margin-top:-40vh;*/ }

.trailer-container {
  position: fixed;
  /*overflow:hidden;*/
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 50%;
  margin-left: -360px;
  width: 720px;
  height: 405px;
  z-index: 2;
  box-shadow: 0px 0px 10px 0px black; }

.fg-trailer {
  width: 100%;
  object-fit: cover;
  height: 100%;
  /*margin-top:-9.8%;;*/ }

.trailer-container .progress {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: block;
  height: 6px;
  width: 0%;
  background: #e5b13a;
  z-index: 3;
  transition: all 0.2s linear; }

.title-container {
  position: absolute;
  width: 100%;
  top: 40%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  z-index: 3;
  height: 50px; }

.title-div {
  text-align: center;
  width: 40%;
  position: relative;
  float: left; }

.starwars .title {
  font-size: 2em; }

.title {
  color: #fff;
  width: 100%;
  opacity: 1;
  line-height: 50px;
  font-family: "brandon-black";
  vertical-align: middle;
  font-size: 3em;
  letter-spacing: 3px;
  animation: opac 2s ease 0s 1; }

@keyframes opac {
  0% {
    opacity: 0; }
  64% {
    opacity: 0; }
  66% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.subtitle {
  color: #fff;
  width: 100%;
  text-align: center;
  top: 48%;
  font-size: 1.8em;
  font-family: "brandon-light";
  transform: translateY(-35%);
  -webkit-transform: translateY(-35%);
  transform-style: flat;
  z-index: 3;
  position: absolute;
  animation: downopac 3s ease 0s 1; }

@keyframes downopac {
  0% {
    opacity: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%); }
  66% {
    opacity: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%); }
  100% {
    opacity: 1;
    transform: translateY(-35%);
    -webkit-transform: translateY(-35%); } }

svg {
  fill: #fff;
  height: 50px; }

.icons {
  opacity: 0.4;
  cursor: pointer;
  transition: all 0.2s ease-in; }

.icons:hover {
  opacity: 1; }

.cross {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
  display: none; }

.cross svg {
  height: 25px; }

.arrow-left, .arrow-right {
  width: 30%;
  float: left; }

.arrow-left {
  text-align: right;
  animation: icon-opac 3s ease 0s 1; }

.arrow-right {
  text-align: left;
  animation: icon-opac 3s ease 0s 1; }

@keyframes icon-opac {
  0% {
    opacity: 0; }
  66% {
    opacity: 0; }
  100% {
    opacity: 0.4; } }

.arrow-right svg {
  -webkit-transform: scaleX(-1);
  /* Webkit */
  transform: scaleX(-1);
  float: left; }

.arrow-left:after, .arrow-right:before {
  width: 0px;
  display: block;
  overflow: hidden;
  font-family: "brandon-regular";
  font-size: 1.3em;
  color: white;
  opacity: 0;
  padding-top: 10px;
  transition-property: all;
  transition-duration: 0.5s; }

.arrow-left:after {
  content: "précédent";
  float: right;
  text-align: right !important;
  margin-right: 50px;
  animation: icon-left 3s ease 0s 1; }

.arrow-right:before {
  content: "suivant";
  float: left;
  margin-left: 50px;
  animation: icon-right 3s ease 0s 1; }

@keyframes icon-left {
  0% {
    margin-right: 0px; }
  66% {
    margin-right: 0px; }
  100% {
    margin-right: 50px; } }

@keyframes icon-right {
  0% {
    margin-left: 0px; }
  66% {
    margin-left: 0px; }
  100% {
    margin-left: 50px; } }

.arrow-left:hover:after, .arrow-right:hover:before {
  width: 100px;
  opacity: 1; }

.cta-container {
  position: absolute;
  width: 100%;
  top: 60%;
  text-align: center;
  transform: translateY(-20%);
  -webkit-transform: translateY(-20%);
  z-index: 3; }

.cta {
  display: inline-block;
  background-size: contain;
  height: 18px;
  width: 80px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: all 0.2s ease-in;
  opacity: 0.4;
  animation: opaci 3s ease 0s 1; }
  .cta:hover {
    opacity: 1; }
    .cta:hover:after {
      opacity: 1; }
  .cta:after {
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    font-family: "brandon-bold";
    display: block;
    transition: all 0.2s ease-in;
    opacity: 0;
    margin-top: 30px;
    text-align: center; }
  .cta#synopsis {
    background-image: url(../img/icn_infos.svg); }
    .cta#synopsis:after {
      content: "synopsis"; }
  .cta#trailer {
    background-image: url(../img/icn_trailer.svg); }
    .cta#trailer:after {
      content: "trailer"; }
  .cta#booking {
    background-image: url(../img/icn_billet.svg); }
    .cta#booking:after {
      content: "reserver"; }

@keyframes opaci {
  0% {
    opacity: 0;
    width: 0px; }
  66% {
    opacity: 0;
    width: 0px; }
  100% {
    opacity: 0.4;
    width: 80px; } }

/*.cta:last-child{
	margin-left:2%;
	margin-right:25%;
}
.cta:first-child{
	margin-right:2%;
	margin-left:25%;
}*/
@media (min-width: 1100px) and (orientation: landscape) {
  .trailer-container {
    margin-left: -32.5vw;
    width: 67vw;
    height: 37.6875vw; } }

/*********** ANIMATIONS **************/
/**** Carré blanc pour la page de titrage ****/
/*IMG*/
.switcher {
  position: absolute;
  display: block;
  left: 0%;
  height: 100%;
  background-color: white;
  animation: switcher 1s ease 1s 1; }

@keyframes switcher {
  0% {
    width: 0%;
    left: 0%; }
  33% {
    width: 100%;
    left: 0%; }
  100% {
    width: 0%;
    left: 100%; } }
